.vscode/settings.json
20301363/dat/EagleEye.xml
20301363/dat/ExportConfig.xml
20301363/dat/ExportData.xml
20301363/dat/ExportLog.xml
20301363/dat/GridEx.xml
20301363/dat/Last5Insts.xml
20301363/dat/OptionalInstrument.xml
20301363/dat/PythonNotice.xml
20301363/dat/TradeSettings.xml
dat/font.xml
dat/language.xml
dat/Layout.xml
dat/Privacy.xml
dat/skin.xml
dat/SpreadDefine.xml
dat/StrategyEngine.xml
dat/UserInfo.xml
future/AtpF/AtpFMdApi.dll
future/AtpF/AtpFTradeApi.dll
future/AtpF/thostmduserapi_AtpF.dll
future/AtpF/thosttraderapi_AtpF.dll
future/CtpIPV6/CtpIPV6MdApi.dll
future/CtpIPV6/CtpIPV6TradeApi.dll
future/CtpIPV6/thostmduserapi_ipv6.dll
future/CtpIPV6/thosttraderapi_ipv6.dll
future/CtpMini/CtpMiniMdApi.dll
future/CtpMini/CtpMiniTradeApi.dll
future/CtpMini/thostmduserapi_mini.dll
future/CtpMini/thosttraderapi_mini.dll
future/CtpMini1.5.9/CtpMini1.5.9MdApi.dll
future/CtpMini1.5.9/CtpMini1.5.9TradeApi.dll
future/CtpMini1.5.9/thostmduserapi_mini1.5.9.dll
future/CtpMini1.5.9/thosttraderapi_mini1.5.9.dll
future/CtpSm/CtpSmTradeApi.dll
future/CtpSm/smi_certsdk.dll
future/CtpSm/smi_sdk.dll
future/CtpSm/smk_certsdk.dll
future/CtpSm/smk_sdk.dll
future/CtpSm/sms_certsdk.dll
future/CtpSm/sms_sdk.dll
future/CtpSm/thosttraderapi_sm.dll
future/Ctpct/CtpctMdApi.dll
future/Ctpct/CtpctTradeApi.dll
future/Ctpct/thostmduserapi_ct.dll
future/Ctpct/thosttraderapi_ct.dll
future/CtpctTest/CtpctTestMdApi.dll
future/CtpctTest/CtpctTestTradeApi.dll
future/CtpctTest/thostmduserapi_cttest.dll
future/CtpctTest/thosttraderapi_cttest.dll
future/DTP/DTPMdApi.dll
future/DTP/DTPTradeApi.dll
future/DTP/ksdtpfmduserapi.dll
future/DTP/ksdtpftraderapi.dll
future/EsV10/EsunnyV10MdApi.dll
future/EsV10/EsunnyV10TradeApi.dll
future/EsV10/libdstarquoteapi.dll
future/EsV10/libdstartradeapi.dll
future/FEMAS/UstpMdApi.dll
future/FEMAS/USTPmduserapiFM.dll
future/FEMAS/UstpTradeApi.dll
future/FEMAS/USTPtraderapiFM.dll
future/JSDF/JSDFMdApi.dll
future/JSDF/JSDFTradeApi.dll
future/JSDF/KCC_API.dll
future/JSDF/KSMarketDataAPI.dll
future/JSDF/ksPortalAPI.dll
future/JSDF/ksPortalAPI64.dll
future/JSDF/KSTradeAPI.dll
future/JSDF/libcrypto-1_1-x64.dll
future/JSDF/libcrypto-3-x64.dll
future/JSDF/lkcdll80_64.dll
future/JSDF/SSPXEncode64.dll
future/Rohon/mfc100.dll
future/Rohon/msvcp100.dll
future/Rohon/msvcr100.dll
future/Rohon/RohonBaseV64.dll
future/Rohon/RohonTradeApi.dll
future/Rohon/thosttraderapi_se.dll
future/Rohon/WinDataCollect.dll
future/XOne/smf_api.dll
future/XOne/smi_certsdk.dll
future/XOne/smi_sdk.dll
future/XOne/XOneMdApi.dll
future/XOne/xonequotapi.dll
future/XOne/XOneTradeApi.dll
future/XOne/xonetraderapi.dll
future/XOnePlus/HsFutuSystemInfo.dll
future/XOnePlus/KCC_API.dll
future/XOnePlus/libcrypto-3-x64.dll
future/XOnePlus/libdfitc_collect.dll
future/XOnePlus/smf_api.dll
future/XOnePlus/smi_certsdk.dll
future/XOnePlus/smi_sdk.dll
future/XOnePlus/WinDataCollect.dll
future/XOnePlus/XOnePlusMdApi.dll
future/XOnePlus/XOnePlusTradeApi.dll
future/XOnePlus/xonequotapi_plus.dll
future/XOnePlus/xonetraderapi_plus.dll
future/es/EsTdAPI.dll
future/es/EsunnyMdApi.dll
future/es/EsunnyTradeApi.dll
future/es/ITapSETdAPI.dll
future/es/ITapTdAPI.dll
future/es/TapDataCollectAPI.dll
future/es/TapQuoteAPI.dll
future/es/TapTdAPI.dll
future/ufx/HsFutuSystemInfo_test.dll
future/ufx/HsFutuSystemInfo.dll
future/ufx/license.dat
future/ufx/t2sdk_md.ini
future/ufx/t2sdk_td.ini
future/ufx/t2sdk.dll
future/ufx/t2sdkWrapper.dll
future/ufx/UfxMdApi.dll
future/ufx/UfxTradeApi.dll
future/ufx/中泰期货_1.UF2.0_程序化_1.上海联通_License.dat
future/ufxo32/HsFutuSystemInfo_test.dll
future/ufxo32/HsFutuSystemInfo.dll
future/ufxo32/t2sdk_td.ini
future/ufxo32/t2sdk.dll
future/ufxo32/UfxO32TradeApi.dll
future/ufxo32/WinDataCollect_test.dll
future/ufxo32/WinDataCollect.dll
future/ufxoplus/HsFutuSystemInfo_test.dll
future/ufxoplus/HsFutuSystemInfo.dll
future/ufxoplus/t2sdk_td.ini
future/ufxoplus/t2sdk.dll
future/ufxoplus/UfxOPlusTradeApi.dll
future/ufxoplus/WinDataCollect_test.dll
future/ufxoplus/WinDataCollect.dll
future/ufxsm/HsFutuSystemInfo_test.dll
future/ufxsm/HsFutuSystemInfo.dll
future/ufxsm/infocertsdk.dll
future/ufxsm/smf_api.dll
future/ufxsm/t2sdk.dll
future/ufxsm/t2sdkWrapper.dll
future/ufxsm/UfxSmTradeApi.dll
gold/JSDS/JSDSMdApi.dll
gold/JSDS/JSDSTradeApi.dll
gold/JSDS/KSGMdAPI.dll
gold/JSDS/KSGTradeAPI.dll
image/QhZhongtaiPythonX64.ico
image/QhZhongtaiPythonX64.jpg
Log/MDApi20260309.log
Log/MDApi20260310.log
Log/MDApi20260311.log
Log/MDApi20260330.log
Log/MDApi20260410.log
Log/TradeApi20260309.log
Log/TradeApi20260310.log
Log/TradeApi20260311.log
Log/TradeApi20260330.log
Log/TradeApi20260410.log
quantdo/GTS2.1/GtsTradeApi.dll
quantdo/GTS2.1/qdamuserapi.dll
quantdo/GTS2.1/qdpdatacollectapi.dll
quantdo/GTS2.1/WinDataCollect.dll
quantdo/GTS2.1.0/Gts2.1.0TradeApi.dll
quantdo/GTS2.1.0/qdamuserapi_2.1.0.dll
quantdo/GTS2.1.0/qdpdatacollectapi.dll
quantdo/GTS2.1.0/WinDataCollect.dll
quantdo/GTS2.3/Gts2.3TradeApi.dll
quantdo/GTS2.3/libcffexdsuserapi.dll
quantdo/GTS2.3/qdamuserapi_2.3.dll
quantdo/GTS2.3/qdpdatacollectapi.dll
quantdo/GTS2.3/WinDataCollect.dll
quantdo/GtsctTest/GtsTradeApi.dll
quantdo/GtsctTest/qdamuserapi_2.3.dll
quantdo/GtsctTest/qdpdatacollectapi.dll
quantdo/GtsctTest/WinDataCollect.dll
quantdo/QDPAPEX/QdpApexTradeApi.dll
quantdo/QDPAPEX/qdptraderapi_apex.dll
quantdo/Qdp5.0.0/Qdp5.0.0TradeApi.dll
quantdo/Qdp5.0.0/qdptraderapi5.0.0.dll
quantdo/Qdp7.0.0/Qdp7.0.0TradeApi.dll
quantdo/Qdp7.0.0/qdptraderapi7.0.0.dll
quantdo/QdpGateway/QdpGatewayTradeApi.dll
quantdo/QdpGateway/qdptraderapi_gateway.dll
quantdo/QdpMM/QdpMMTradeApi.dll
quantdo/QdpMM/qdptraderapi_mm.dll
quantdo/Qdpct/QdpctTradeApi.dll
quantdo/Qdpct/qdptraderapi_ct.dll
sounds/(cantonese)bought.wav
sounds/(cantonese)buy.wav
sounds/(cantonese)canceled.wav
sounds/(cantonese)error.wav
sounds/(cantonese)sell.wav
sounds/(cantonese)sold.wav
sounds/(cantonese)warning.wav
sounds/(man)bought .wav
sounds/(man)buy.wav
sounds/(man)canceled.wav
sounds/(man)error.wav
sounds/(man)sell.wav
sounds/(man)sold.wav
sounds/(man)warning.wav
sounds/(shichuan)error.wav
sounds/(sichuan)bought.wav
sounds/(sichuan)buy.wav
sounds/(sichuan)canceled.wav
sounds/(sichuan)sell.wav
sounds/(sichuan)sold.wav
sounds/(sichuan)warning.wav
sounds/Alarm01.wav
sounds/Alarm02.wav
sounds/Alarm03.wav
sounds/Alarm04.wav
sounds/Alarm05.wav
sounds/Alarm06.wav
sounds/Alarm07.wav
sounds/Buy_En.wav
sounds/Buy.wav
sounds/Buy1.wav
sounds/Buy2.wav
sounds/Buy3.wav
sounds/Conbuy_En.wav
sounds/Conbuy.wav
sounds/Conbuy1.wav
sounds/Conbuy2.wav
sounds/Conbuy3.wav
sounds/Consell_En.wav
sounds/Consell.wav
sounds/Consell1.wav
sounds/Consell2.wav
sounds/Consell3.wav
sounds/error1.wav
sounds/error2.wav
sounds/error3.wav
sounds/error4.wav
sounds/error5.wav
sounds/error6.wav
sounds/error7.wav
sounds/ok1.wav
sounds/ok2.wav
sounds/ok3.wav
sounds/ok4.wav
sounds/ok5.wav
sounds/ok6.wav
sounds/ok7.wav
sounds/Sell_En.wav
sounds/Sell.wav
sounds/Sell1.wav
sounds/Sell2.wav
sounds/Sell3.wav
sounds/tick1.wav
sounds/tick2.wav
sounds/tick3.wav
sounds/tick4.wav
sounds/tick5.wav
sounds/tick6.wav
sounds/tick7.wav
statement/directui license.txt
statement/duilib license.txt
statement/privacy.txt
statement/pythongonotice.txt
stock/CtpSsto3.6.0/CtpSsto3.6.0MdApi.dll
stock/CtpSsto3.6.0/CtpSsto3.6.0TradeApi.dll
stock/CtpSsto3.6.0/thostmduserapi_ssto3.6.0.dll
stock/CtpSsto3.6.0/thosttraderapi_ssto3.6.0.dll
stock/CtpSstoct/CtpSstoctMdApi.dll
stock/CtpSstoct/CtpSstoctTradeApi.dll
stock/CtpSstoct/thostmduserapi_sstoct.dll
stock/CtpSstoct/thosttraderapi_sstoct.dll
stock/CtpSstoctTest/CtpSstoctTestMdApi.dll
stock/CtpSstoctTest/CtpSstoctTestTradeApi.dll
stock/CtpSstoctTest/thostmduserapi_sstocttest.dll
stock/CtpSstoctTest/thosttraderapi_sstocttest.dll
stock/QDCF/CFMdApi.dll
stock/QDCF/CFTradeApi.dll
stock/QDCF/HsFutuSystemInfo.dll
stock/QDCF/libcrypto-3-x64.dll
stock/QDCF/libssl-3-x64.dll
stock/QDCF/QdCFMdApi.dll
stock/QDCF/QdCFTradeApi.dll
stock/QDCF/WinDataCollect.dll
stock/QDCFSSL/CFSSLTradeApi.dll
stock/QDCFSSL/libcrypto-sw.dll
stock/QDCFSSL/libcurl.dll
stock/QDCFSSL/libssl-sw.dll
stock/QDCFSSL/QdCFSSLTradeApi.dll
stock/QDCFSSL/splitskf.dll
stock/QDCFSSL/SWSSLVPN.dll
stock/QDTF/HsFutuSystemInfo.dll
stock/QDTF/QdTFTradeApi.dll
stock/QDTF/TFTradeApi.dll
stock/QDTF/WinDataCollect.dll
stock/UFXStock/HsFutuSystemInfo_test.dll
stock/UFXStock/HsFutuSystemInfo.dll
stock/UFXStock/license.dat
stock/UFXStock/t2sdk_md.ini
stock/UFXStock/t2sdk_td.ini
stock/UFXStock/t2sdk.dll
stock/UFXStock/UfxStockMdApi.dll
stock/UFXStock/UfxStockTradeApi.dll
stock/XSpeedHTSStock/DFITCSECMdApi.dll
stock/XSpeedHTSStock/DFITCSECTraderApi.dll
stock/XSpeedHTSStock/HsFutuSystemInfo.dll
stock/XSpeedHTSStock/InformationCollect.dll
stock/XSpeedHTSStock/XSpeedHTSStockMdApi.dll
stock/XSpeedHTSStock/XSpeedHTSStockTradeApi.dll
stock/XTGT/HsFutuSystemInfo.dll
stock/XTGT/libeay32.dll
stock/XTGT/ssleay32.dll
stock/XTGT/WinDataCollect.dll
stock/XTGT/XtGtTradeApi.dll
stock/XTGT/XtTraderApi.dll
stock/XTGT/config/server.crt
stock/XTGT/config/traderApi.ini
stock/XTGT/config/traderApi.log4cxx
stockoption/CtpSopt3.6.0/CtpSopt3.6.0MdApi.dll
stockoption/CtpSopt3.6.0/CtpSopt3.6.0TradeApi.dll
stockoption/CtpSopt3.6.0/thostmduserapi_sopt3.6.0.dll
stockoption/CtpSopt3.6.0/thosttraderapi_sopt3.6.0.dll
stockoption/CtpSoptct/CtpSoptctMdApi.dll
stockoption/CtpSoptct/CtpSoptctTradeApi.dll
stockoption/CtpSoptct/thostmduserapi_soptct.dll
stockoption/CtpSoptct/thosttraderapi_soptct.dll
stockoption/CtpSoptctTest/CtpSoptctTestMdApi.dll
stockoption/CtpSoptctTest/CtpSoptctTestTradeApi.dll
stockoption/CtpSoptctTest/thostmduserapi_soptcttest.dll
stockoption/CtpSoptctTest/thosttraderapi_soptcttest.dll
stockoption/HTSStockOpt/DFITCSECMdApi.dll
stockoption/HTSStockOpt/DFITCSECTraderApi.dll
stockoption/HTSStockOpt/HsFutuSystemInfo.dll
stockoption/HTSStockOpt/HTSStockOptMdApi.dll
stockoption/HTSStockOpt/HTSStockOptTradeApi.dll
stockoption/HTSStockOpt/InformationCollect.dll
stockoption/UFXStockOpt/HsFutuSystemInfo_test.dll
stockoption/UFXStockOpt/HsFutuSystemInfo.dll
stockoption/UFXStockOpt/license.dat
stockoption/UFXStockOpt/t2sdk_md.ini
stockoption/UFXStockOpt/t2sdk_td.ini
stockoption/UFXStockOpt/t2sdk.dll
stockoption/UFXStockOpt/UfxStockOptMdApi.dll
stockoption/UFXStockOpt/UfxStockOptTradeApi.dll
stockoption/XSpeedHTSStockOpt/DFITCSECMdApi.dll
stockoption/XSpeedHTSStockOpt/DFITCSECTraderApi.dll
stockoption/XSpeedHTSStockOpt/HsFutuSystemInfo.dll
stockoption/XSpeedHTSStockOpt/InformationCollect.dll
stockoption/XSpeedHTSStockOpt/XSpeedHTSStockOptMdApi.dll
stockoption/XSpeedHTSStockOpt/XSpeedHTSStockOptTradeApi.dll
stockoption/XSpeedStockOpt/DFITCSECMdApi.dll
stockoption/XSpeedStockOpt/DFITCSECTraderApi.dll
stockoption/XSpeedStockOpt/HsFutuSystemInfo.dll
stockoption/XSpeedStockOpt/InformationCollect.dll
stockoption/XSpeedStockOpt/XSpeedStockOptMdApi.dll
stockoption/XSpeedStockOpt/XSpeedStockOptTradeApi.dll
t2sdkdata/t2sdk.dat
t2sdkdata/t2sdk.dat_1
20260330_Syslog.log
20260410_Syslog.log
CoreLib.dll
corelib.ini
InfiniConfig.ini
InfiniTrader.exe
KSInterB2C.lkc
maininstrument.data
mfc120.dll
msvcp120.dll
msvcr120.dll
newtradetime.data
PricingCalculator.dll
profile.set
qdamtraderapi.dll
qdauth.data
qdinfimdapi.dll
qdmdapi.dll
qdptraderapi.dll
qdtraderapi.dll
qdud.data
StraLog.txt
StrategyLib.dll
tgateapi.dll
trade_api_v1.6.88.22.log
trade_api_v1.6.88.22.log_0224220439.log
trade_api_v1.6.88.22.log_0224220459.log
trade_api_v1.6.88.22.log_0301210645.log
update.ini
UserLog.txt
vcruntime140_1.dll
vcruntime140.dll
vixinstrument.data
docs
.claude
pyStrategy/self_strategy/backtest/__pycache__/_batch_backtest_atr.cpython-313.pyc
pyStrategy/self_strategy/backtest/__pycache__/_batch_backtest.cpython-313.pyc
pyStrategy/__pycache__/__init__.cpython-313.pyc
Log/MDApi20260428.log
Log/TradeApi20260428.log
pyStrategy/self_strategy/__pycache__
docs/res/
pyStrategy/self_strategy/doubleTop/results/